/* © Victor Loots, 2022
/*
/* Fonts */
@font-face {
  font-family: "domineregular";
  src: url("../fonts/domine-regular-webfont.eot");
  src: url("../fonts/domine-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/domine-regular-webfont.woff2") format("woff2"),
    url("../fonts/domine-regular-webfont.woff") format("woff"),
    url("../fonts/domine-regular-webfont.ttf") format("truetype"),
    url("../fonts/domine-regular-webfont.svg#domineregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratregular";
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-regular-webfont.woff") format("woff"),
    url("../fonts/montserrat-regular-webfont.ttf") format("truetype"),
    url("../fonts/montserrat-regular-webfont.svg#montserratregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nymphetteregular';
  src: url('../fonts/nymphette-webfont.eot');
  src: url('../fonts/nymphette-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nymphette-webfont.woff2') format('woff2'),
    url('../fonts/nymphette-webfont.woff') format('woff'),
    url('../fonts/nymphette-webfont.ttf') format('truetype'),
    url('../fonts/nymphette-webfont.svg#nymphetteregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
/*
/* Variabelen */
:root {
  --font_titel: "domineregular", Georgia, serif;
  --font_subtitel: "montserratregular", Verdana, sans-serif;
  --font-brood: "open_sansregular", Verdana, sans-serif;
  --kleur_wit: #f8f7f3;
  --kleur_zwart: #303030;
}
/* 
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
/* Standards */
body {
  min-height: 100%;
  color: var(--kleur_zwart);
  background-color: var(--kleur_wit);

}

#container {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
  color: #191919;
  background-color: #f1d0c7;

}

h1 {
  text-align: center;
  padding: 50px 0 25px 0;
}

section {
  width: 75%;
  height: 650px;
  position: relative;
  margin: 0 auto;
  background-image: url(../img/ricepaper.png);
  padding: 20px;
}

h2,
h3 {
  font-family: 'Miss Fajardose', cursive;
  font-size: 6em;
  font-weight: 100;
}

h2 {
  padding: 100px 0 25px 0;
}

h3 {
  color: #5995b8;
  padding: 25px 0 100px 0;
}

p {
  font-family: 'Clicker Script', cursive;
  font-size: 1.5em;
  font-weight: 500;
}

.icoon {

  font-family: 'nymphetteregular';
  font-size: 2em;
}

.icoon_boven,
.icoon_onder {
  color: #c92169;
  position: absolute;
  text-align: center;
}

.icoon_boven {
  top: 0;
  width: 144px;
  left: calc(50% - 72px);
}

.icoon_onder {
  bottom: 0;
  width: 150px;
  left: calc(50% - 75px);
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 25px 0 10px 0;
}